/*Linght color*/
$--primary-color: #fbfafa;
$--secondary-color: rgb(10, 4, 0);
$--tertiary-color: #b48877;
$--active-color: #745c58;
$--coffee-color: #e6e8ee;

$--nav-font-color: #fbfafa;
$--font-color: #323337;

/*Hero color*/
$--hero-color: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7));

/*Star color*/
$--star-color: #cfd0d6;
$--star-active-color: gold;

/*Search*/
$--search-color: rgba(223, 215, 215, 0.438);

/*Dark color*/
$--primary-color-dark: #130d09;
$--tertiary-color-dark: #d3a28f;
$--coffee-color-dark: #0f0b08;
$--fifth-color: rgb(22, 14, 11);

$--font-color-dark: #fbfafa;